html,
body {
	padding: 0;
	margin: 0;
	font-family: "Vazir" !important;
	font-size: larger;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: light;
	}
	body {
		color: black;
		background: white;
	}
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	right: 0% !important;
	text-align: right;
}

.underline-text {
	position: relative;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.underline-text:hover {
	color: #1d5aff;
	text-decoration-line: underline;
}
